<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/ingredients">Ingredients</a></li>
    <li><a href="/ingredients/new">New Ingredient</a></li>
    <li><a href="/recipes">Recetas</a></li>
    <li><a href="/recipes/new">New Receta</a></li>
</ul>