<% layout('layouts/boilerplate') -%>
<h1>Edit Ingredient!</h1>

<form action="/ingredients/<%= ingredient.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="ingredientTitle">Title</label>
        <input type="text" name="title" class="form-control" id="ingredientTitle" value="<%=ingredient.title %>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>