<% layout('layouts/boilerplate') -%>

<% include ../partials/paginateIngredients %>

<% ingredients.docs.forEach(ingredient => { %>
    <div>
        <span><%= ingredient.title %></span>
        <span><a href="/ingredients/<%= ingredient.id %>">View more...</a></span>
    </div>
<% }); %>