<% layout('layouts/boilerplate') -%>

<% include ../partials/paginateIngredients %>

<% ingredients.docs.forEach(ingredient => { %>
    <p><%= ingredient.title %></p>
    <a href="/ingredients/<%= ingredient.id %>">View more...</a>
<% }); %>