<% layout('layouts/boilerplate') -%>
<h1>New Ingredient!</h1>

<form action="/ingredients" method="POST">
    <div class="form-group">
        <label for="ingredientTitle">Title</label>
        <input type="text" name="title" class="form-control" id="ingredientTitle" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>