<% layout('layouts/boilerplate') -%>

<span><%= ingredient.title %></span>
<div>
    <img src="<%= ingredient.image.url %>" alt="Surf board shop" width="200">
</div>
<span><a href="/ingredients/<%= ingredient.id %>/edit">Editar</a></span>