<% layout('layouts/boilerplate') -%>
<h1>Editar Categoría!</h1>

<form action="/categories/<%= category.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="category">Nombre</label>
        <input type="text" name="title" class="form-control" id="category" value="<%=category.title %>">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>