<% layout('layouts/boilerplate') -%>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% categories.forEach(category => { %>
        <tr>
            <td>
                <span><%= category.title %></span>
            </td>
            <td>
                <a class="text-info" href="/categories/<%= category.id %>/edit"><i class="fas fa-edit"></i></a>
            </td>
            <td>
                <form action="/categories/<%= category.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>