<% layout('layouts/boilerplate') -%>
<h1>Nueva Categoría!</h1>

<form action="/categories" method="POST">
    <div class="form-group">
        <label for="categoryTitle">Nombre</label>
        <input type="text" name="title" class="form-control" id="categoryTitle" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>