<% layout('layouts/boilerplate') -%>
<h1>New Measurement!</h1>

<form action="/measurements" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>