<% layout('layouts/boilerplate') %>
<h1>New Recipe!</h1>

<form action="/recipes" method="POST">
    <input type="text" name="title" placeholder="Title">
    <select name="ingredients" id="ingredients" multiple>
        <% ingredients.forEach(ingredient => { %>
            <option value="<%= ingredient.id %>"><%= ingredient.title %></option>
        <% }); %>
    </select>
    <textarea name="preparation" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="Create">
</form>