<% layout('layouts/boilerplate') -%>

<p><%= recipe.title %></p>
<p><b>Ingredientes:</b></p>
<ul>
    <% recipe.ingredients.forEach(ingredient => { %>
        <li><%= ingredient.title %></li>
    <% }); %>
</ul>
<p><%= recipe.preparation %></p>
<p><a href="/recipes/<%= recipe.id %>/edit">Edit</a></p>
