<% layout('layouts/boilerplate') -%>
<h1>Edit Process type!</h1>

<form action="/categories/<%= processtype.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="processType">Title</label>
        <input type="text" name="title" class="form-control" id="processType" value="<%= processtype.title %>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>