<% layout('layouts/boilerplate') -%>
<h1>New Type!</h1>

<form action="/processing/types" method="POST">
    <div class="form-group">
        <label for="typeTitle">Title</label>
        <input type="text" name="title" class="form-control" id="typeTitle" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>