<% layout('layouts/boilerplate') -%>
<h1>Agregar Tipo</h1>

<form action="/processing/types" method="POST">
    <div class="form-group">
        <label for="typeTitle">Nombre</label>
        <input type="text" name="title" class="form-control" id="typeTitle" placeholder="Title">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>